/*
* @author Gaurav Kumar
*/

.mobile-detail .input-group i{
    position: absolute;
    padding: 2px;
    pointer-events: none;
    top:2px;
    left:2px;
    z-index:4;
}

.input-group input{
    border:none;
    padding-left: 45px;
    border-bottom: 1px solid lightgrey;
}

.input-group input:focus{
    box-shadow: none;
    border-bottom: 2px solid darkgrey;
}