@import url("./PreLoginHeader.css");

.user-picture {
  padding-left: 10px;
}

.header-dropdown div {
  margin-top: 31px;
}

#responsive-navbar-nav nav {
  margin-top: 10px;
}

/*.navbar-light .navbar-nav .nav-link {*/
/*    color: rgba(0, 0, 0, 1);*/
/*}*/

.header .navbar-nav .nav-link {
  color: #000000;
  padding-bottom: 0 !important;
}

.header .navbar-nav .nav-link:hover,
.nav-link:active,
.dropdown-item:hover {
  color: #ef582e;
  background-color: inherit;
}
.nav-item {
  align-items: center;
}
.nav-item .btn:focus {
  box-shadow: none;
}
.notification {
  position: relative;
  padding: 10px 10px 0px 0px;
}

.unseen-notification {
  position: absolute;
  top: 7px;
  left: 50%;
  padding-left: 4px;
  padding-bottom: 6px;
  margin-bottom: 3px;
  height: 14px;
  width: 13px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: x-small;
}

/* 
  @author Shubham Singal 
*/
#dropdown {
  background-color: inherit;
  color: black;
  border: none;
  box-shadow: none;
  outline: 0px;
}

.icon-div {
  line-height: 14px;
}

.icon-div i {
  font-size: 26px;
}

#logout-btn {
  border: none;
  box-shadow: none;
  outline: 0px;
}

#navbar-toggler {
  border: none;
  box-shadow: none;
  outline: 0px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
}

#logout-btn:focus {
  border: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 1rem 0px;
  }
  #mobile-header {
    display: none;
  }
  .unseen-notification{
    left:50%;
  }

}

@media (max-width: 992px) {
  #header {
    display: none;
  }
  #mobile-header {
    display: inline-block;
    width: 60%;
  }
  ul {
    width: 80%;
  }
  .unseen-notification{
    left:15%;
  }
}
