.submit-button-wrapper {
  text-align: center;
  color: red;
}

.required:after {
  content: "*";
  font-weight: bold;
  color: red;
}

/* 
    author 
    ShubhamSingal07
*/

#dob-input {
  width: 185px;
  height: 38px;
  box-shadow: none;
  border-top-style: solid;
  border-left-style: solid;
}
