/*
* @author Gaurav Kumar
*/

/*.image-cover-circle {*/
/*    width: 80px;*/
/*    height:80px;*/
/*    border:2px solid;*/
/*    border-radius: 50%;*/
/*    !*margin: 20px;*!*/
/*    background-color: white !important;*/
/*    padding-top:30%;*/
/*    text-align: center;*/
/*}*/

/*.time-wrapper{*/
/*    position:absolute;*/
/*    top:35%;*/
/*    left:35%;*/
/*    height: 30px;*/
/*}*/

.image-cover-circle{
    width:80px;
}

.category-code{
    left:-1px;
    top:-2px;
    width: 5px;
    position: absolute;
    background-color: red;
    /*border: 1px solid red;*/
    height: 110%;
}

.confirmation-msg{
    background-color: green;
    /*border:1px solid green;*/
}

.not-seen{
    background-color: #fbfbfb !important;
}