#root {
    background-color: #f4f4f4;
    font-family: 'Poppins';
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: Poppins;
}


.App-link {
    color: #61dafb;
}

.required:after {
    content: "*";
    font-weight: bold;
    color: red;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button:focus, button:active {
    box-shadow: none;
}

.ye-button {
    border-radius: 20px;
    border: none;
}

.text-align-right {
    text-align: right;
}

.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6) !important;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.button:focus {
    border: none;
}


button:active, button:focus, button:hover {
    outline: none;
    box-shadow: none;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-45 {
    opacity: 0.45;
}

.opacity-75 {
    opacity: 0.75;
}

.opacity-60 {
    opacity: 0.60;
}

.transparent-button {
    background-color: inherit;
    border: none;
}

.topHeader {
    /*box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);*/
}

.belowTop {
    padding: 15px;
}

.scrollable-modal-div {
    overflow-y: scroll;
    max-height: 65vh;
}

.ye-border {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: rgb(214, 214, 194) !important;
    border-radius: 5px !important;
}

.verified-status {
    background-color: forestgreen;
}

.header {
    padding: 15px 0px;
    color: #707070;
}

.sub-header {
    color: #707070;
    padding: 10px 0px 10px 10px;
}

.insights-summary {
    padding: 0px 54px 0px 54px;
}

.h-20 {
    height: 20px !important;
}

.h-10 {
    height: 10px !important;
}

.h-5 {
    height: 5px !important;
}

.h-7 {
    height: 7px !important;
}

body {
    font-family: 'Poppins';
}

.outline-none {
    outline: none !important;
}

.ye-box-shadow {
    box-shadow: 0px 0px 0px 1px rgba(0, 123, 255, 0.5) !important;
}

.text-strike {
    text-decoration: line-through;
    opacity: 0.5;
}

.ye-masonry-horizontal {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    /*margin-left: -8px;*/
}

.ye-masonry-item {
    flex: auto;
}

.cursor-pointer {
    cursor: pointer !important;
}

.ye-limit-tracker {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    font-size: 10px;
}

.ye-bg-loader{
    background-color: #eeeeee;
}

.font-8{
    font-size: 8px !important;
}

.font-9{
    font-size: 9px !important;
}

.font-10{
    font-size: 10px !important;
}

.font-11{
    font-size: 11px !important;
}

.font-12{
    font-size: 12px !important;
}

.font-13{
    font-size: 13px !important;
}
.font-14{
    font-size: 14px !important;
}

.font-15{
    font-size: 15px !important;
}

.font-16{
    font-size: 16px !important;
}

.letter-spacing-1{
    letter-spacing: 1px !important;
}

.font-weight-100{
    font-weight: 100 !important;
}

.font-weight-200{
    font-weight: 200 !important;
}

.font-weight-300{
    font-weight: 300 !important;
}

.font-weight-400{
    font-weight: 400 !important;
}

.font-weight-500{
    font-weight: 500 !important;
}

.font-weight-600{
    font-weight: 600 !important;
}

.height-11px{
    height:11px !important;
}

.ye-bg{
    background-color: #f4f4f4;
}