.container{
    height:100vh;
}

.navbar{
    display: inline-flex;
    justify-content: center;
    border-bottom:1.5px solid #c5c5c5;
    width: 100%;
    padding-top: 10px;
    height: 5%;
}

a{
    position: relative;
    top:1.5px;
    text-decoration: none;
    color: darkgrey;
    width: 100px;
    text-align: center;
}

a:hover{
    color: black;
}

